---
layout: base-layout.njk
---
<h1>{{ title }}</h1>
{% if wip == true %}
<p><b>This section is unfinished: it may be just a placholder, or an initial draft of the intended content.</b></p>
{% endif %}

{{ content | safe }}

<hr />
  {% set breadcrumbPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
  
  <p>
{%- for entry in breadcrumbPages %}
    {% if entry.url != page.url %} 
    <a href="{{ entry.url | url }}">
    {% endif %}
    {{ entry.title }}
    {% if entry.url != page.url %} 
    </a> |
    {% endif %}
{%- endfor %}
</p>

<ul>
{% set navPages = collections.all | eleventyNavigation(eleventyNavigation.parent) %}
{% macro renderNavListItem(entry) -%}
<li>
    {% if entry.url != page.url %} 
    <a href="{{ entry.url | url }}">
    {% else %} <b>
    {% endif %}
    {{ entry.title }}
    {% if entry.url != page.url %} 
    </a>
    {% else %}  <span style="font-weight:100;">&larr; You are here</span></b>
    {% endif %}
</li>
{%- if entry.children.length -%}
  <ul>
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<ul>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
<p><a href="/">Go back to the home page to see the full table of contents</a></p>
